* {
	/*border: solid 1px black;*/
	font-family: 'Raleway', sans-serif;
}

#header p {
	font-size: 14px;
	color:white;
}

#header {
	border-bottom: solid 1px #eeeeee;
	position: fixed;
	width: 100%;
	z-index: 99;
  	transition: all .7s cubic-bezier(0.42,0,0.58,1);
  	overflow-y:hidden;
  	animation: fadeInLeft 1s;
  	margin-bottom: 5px;
	/*250 px is default height*/
}

#invisible_header {
	z-index: -99;
	transition: height .7s cubic-bezier(0.42,0,0.58,1);
	background-color: white;
	margin-bottom: 5px;
}

#headerExpandedContent {
	margin-bottom: :-2px;	
	background-color: rgba(170,170,170,0.5);
	/*padding: 0px 50px;*/
}

.hidden {
	display:none;
}

.clickable {
	color:white;
    cursor:pointer;
}

.headerClosed {
	height:250px;
}

.headerOpen {
	height:410px;	
	
}
.headerMinimized {
	height:150px;
	margin-top:-30px;
}

.btn-link {
	margin-bottom: 20px;
}

.sorter {
	animation: fadeInLeft 1s;
	padding:10px;
}
.gradient {
	background: #4080a0;
	background: -webkit-linear-gradient(left top, #4080a0, #d4eefc);
	background: -o-linear-gradient(bottom right, #4080a0, #d4eefc);
	background: -moz-linear-gradient(bottom right, #4080a0, #d4eefc);
	background: linear-gradient(to bottom right, #4080a0, #d4eefc);
}

.jumbotron h1 u {
	font-family: 'Diplomata SC', cursive;
}

.jumbotron h1 u, .jumbotron h2 {
	color: #ffffff;
}

#nav p {
	display: inline;
}

#nav .btn {
	margin-top: 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.entry {
	background-color: #f9f9f9;
	border: solid 1px #eeeeee;
	/*box-shadow: 5px 5px 5px #888888;*/
	margin-bottom: 20px;
	border-radius: 5px;
}

#first {
	animation: bounceInUp 1s;
}

#second {
	animation: bounceInUp 1s;
	animation-delay: 0.1s
}

.donation img {
	width: 100%;
}


.entry .btn-default {
	background-color: #4080a0;
	color: #ffffff;
	margin: 10px;
}

#footer {
	border-top: solid 1px #eeeeee;
}